<p>Add new Servers or blueprints!</p>
<label>Server Name</label>
<!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
<input type="text" class="form-control" #serverName>
<label>Server Content</label>
<!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
<input type="text" class="form-control" #serverContentRef>
<br>
<button class="btn btn-primary" (click)="onAddServer(serverName)">Add Server</button>
<button class="btn btn-primary ml-4" (click)="onAddBlueprint(serverName)">Add Server Blueprint</button>