<div class="container mt-4">
  <div class="row">
    <div class="col-sm-12">
      <app-server-form (infoEmmiter)="getServerInfo($event)"></app-server-form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <app-server-info [getInfo]="elementObj" *ngFor="let elementObj of serverElements">
        <p>
          <strong *ngIf="elementObj.type === 'server'" style="color: red">{{ elementObj.content }}</strong>
          <em *ngIf="elementObj.type === 'blueprint'">{{ elementObj.content }}</em>
        </p>
      </app-server-info>
    </div>
  </div>
</div>

<ul>
  <li  *ngFor="let elementObj of serverElements">
      {{elementObj.name}} {{elementObj.content}}
  </li>
</ul>